azure_sentinel/playbook_incident_automation.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "Parse_JSON": {
        "type": "ParseJson",
        "inputs": {"content": "@triggerBody()"},
        "runAfter": {}
      },
      "Notify_Teams": {
        "type": "ApiConnection",
        "inputs": {
          "host": {"connection": {"name": "@parameters('$connections')['teams']['connectionId']"}},
          "method": "post",
          "path": "/v3/conversations",
          "body": {
            "topic": "New Sentinel Incident Alert",
            "text": "Incident triggered: @{triggerBody()?['title']}"
          }
        },
        "runAfter": {"Parse_JSON": ["Succeeded"]}
      },
      "Upload_to_Blob": {
        "type": "ApiConnection",
        "inputs": {
          "host": {"connection": {"name": "@parameters('$connections')['azureblob']['connectionId']"}},
          "method": "post",
          "path": "/datasets/default/files",
          "body": {
            "name": "incident-@{utcNow()}.json",
            "contentBytes": "@base64(triggerBody())"
          }
        },
        "runAfter": {"Notify_Teams": ["Succeeded"]}
      }
    },
    "triggers": {
      "When_a_response_to_an_Azure_Sentinel_alert_is_triggered": {
        "type": "Request",
        "kind": "Http",
        "inputs": {}
      }
    },
    "outputs": {}
  },
  "kind": "Stateful"
}
